/****** Contact Form ********/

main h2{
    text-align: center;
}

#contact *{
    display: block;
    text-align: center;
}

#contact-wrapper{
    display: block;
    border: 1px solid black;
    width: 40%;
    margin: 0px auto;
    border-radius: 7px;
    background-color: rgb(70, 65, 95);
    box-shadow: 0px 0px 5px white inset;
    margin-bottom: 30px;
    padding-top: 20px;
}

input[type="text"],
input[type="email"],
#contact textarea
{
    margin: 0px auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 200px;
    border-radius: 7px;
}

input[type="submit"]{
    margin: 0px auto;
    margin-bottom: 20px;
    padding: 10px;
    background-color: rgb(48, 134, 158);
    color: white;
    cursor: pointer;
    border-radius: 7px;
}

input[type="submit"]:hover{
    background-color: rgb(12, 82, 102);
}

#show{
    display: none;
    text-align: center;
    margin: 0px auto;
    margin-bottom: 20px;
    font-size: 20px;
    width: 400px;
    color: black;
    text-shadow: 0px 0px 3px white;
}



