/************* FF7 *****************/

.ff-table img {
    height: 200px;
    width: 190px;
    margin: 45px;
    border-radius: 7px;
}

.ff-table img:hover{
    transform: scale(1.2);
}

main table {
    margin-left: auto;
    margin-right: auto;
}

fieldset {
    background-color: #212421;
    border-radius: 7px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}

/********* Slider *********/

#show-video{
    display: none;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
}

#show-video iframe{
    border-radius: 7px;
}

/***** Pointer **********/

.ff-table img, .ffremake-table img {
    cursor: pointer;
} 

/********** FF7 Remake ********/

#wrapper{
    width: 80%;
    padding: 0;
    margin: 0px auto;
}

#wrapper td{
    margin: 0px auto;
}

.ffremake-table img {
    height:450px;
    width: 100%;
    border-radius: 7px;
    margin-right: 80px;
}

.ffremake-table img:hover{
    transform: scale(1.1);
}

#video-re{
    display: none;
}
