/************ Artículos ****************/

article {
    width: 100%;
    display: block;
    position: inherit;
    overflow: auto;
}

.grid {
    grid-template-columns: 100px 50px 100px;
    grid-template-rows: 80px auto 80px;
    column-gap: 10px;
    row-gap: 15px;
}

.text {
    display: block;
    float: left;
    margin-top: -30px;
}

.next {
    text-align: center;
}

fieldset {
    background-color: #212421;
    border-radius: 7px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

/************ Noticias ***************/

.next .prior {
    text-align: center;
    color: #dbdfff;
    text-shadow: 2px 2px #212421,
               1px 1px #212021;
    font-family: Verdana, sans-serif;
    font-size: 15px;
    font-weight: normal;
}

.next:hover, .prior:hover {
    color: #b0d1f1;
}

.prior {
    float: left;
    margin-left: 210px;
}

main h3 {
    text-align: center;
}