/************ Artículos ****************/

article {
    width: 100%;
    display: block;
    position: inherit;
    overflow: auto;
}

main h3 {
    text-align: center;
}

.grid {
    grid-template-columns: 100px 50px 100px;
    grid-template-rows: 80px auto 80px;
    column-gap: 10px;
    row-gap: 15px;
}

.text {
    display: block;
    float: left;
    margin-top: -30px;
}

fieldset {
    background-color: #212421;
    border-radius: 7px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

/************ Next/Prior news ***************/

.prior, .next{
    display: block;
    width: 200px;
    margin: 0px auto;
    margin-bottom: 10px;
}

.prior {
    float: left;
    margin-left: 10%;
}

.next {
    margin-right: 10%;
    float: right;
}

.next:hover, .prior:hover {
    color: #b0d1f1;
}